

/*
 * CONFIGURAÇÕES GLOBAIS
 */

* {
    box-sizing: border-box;
    /*font-size: 0.98em;*/
    font-family: Sans-serif;
}

.ui-menuitem-icon.ui-icon.fa {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

/*
 * HACKS
 */

.allSidesShadow {
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;

    /* For IE 5.5 - 7 */
    /* for IE4 - IE7 */
    filter:
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#C4C4C4);
    -ms-filter: "
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#C4C4C4)
    ";
}

.form-edicao input[type=text] {
    width: 100%;
}

.form-edicao label {
    float: right;
}

.form-edicao input[type=button], .form-edicao button {
    padding: 0.5em;
    margin: 0.5em;
}

.form-toolbar button {
    padding: 0.3em;
    margin: 0.3em;
}

.form-acoes {
    text-align: center;
}

.form-acoes > * {
    margin: 0.3em;
}

.texto-centralizado {
    text-align: center;
}
